{% extends 'base.html.twig' %}

{% block title %}
  Order
{% endblock %}

{% block body %}
  <div class="container mx-auto">
    {# header #}
    {# BETA tag #}
    <div class="mt-2 mb-8 text-right">
      <small style="background-color:#f8fafc; opacity: 72%;"
        class="border-2 rounded-xl border-gray-200 text-xs text-gray-700 px-3 py-1">
        Beta
      </small>
    </div>
    <h1 class="text-5xl mt-6 text-center font-semibold">
      Honoring A Life
    </h1>
    <h2 class="text-3xl text-center">
      Order Form
    </h2>

    {# form #}
    {{ form_start(form) }}
    {# overall form errors #}
    {{ form_errors(form) }}

    {# Priliminary information #}
    <div>
      {# funeral home #}
      <div id="funeral-home">
        {# Name, Contact, Date #}
        <div class="flex flex-wrap">
          {# Name #}
          <div class="w-full md:w-1/3 px-3">
            {{ form_label(form.funeralHomeName, 'Funeral Home', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
            {{ form_widget(form.funeralHomeName, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
          </div>
          {# Contact #}
          <div class="w-full md:w-1/3 px-3">
            {{ form_label(form.funeralHomeContact, 'Contact', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
            {{ form_widget(form.funeralHomeContact, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
          </div>
          {#  Date #}
          <div class="w-full md:w-1/3 px-3">
            {{ form_label(form.funeralHomeDate, 'Date', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
            {{ form_widget(form.funeralHomeDate, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
          </div>
        </div>
        {# street #}
        <div class="flex">
          <div class="w-full px-3">
          {{ form_label(form.funeralHomeStreet, 'Street', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
            {{ form_widget(form.funeralHomeStreet, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
          </div>
        </div>
        {# City, State, Zip #}
        <div class="flex flex-wrap">
          {# Name #}
          <div class="w-full md:w-1/3 px-3">
            {{ form_label(form.funeralHomeCity, 'City', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
            {{ form_widget(form.funeralHomeCity, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
          </div>
          {# State #}
          <div class="w-full md:w-1/3 px-3 relative">
            {{ form_label(form.funeralHomeState, 'State', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
            {{ form_widget(form.funeralHomeState, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-6 pt-4 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
              </div>
          </div>
          {#  Zip #}
          <div class="w-full md:w-1/3 px-3">
            {{ form_label(form.funeralHomeZip, 'Zip', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
            {{ form_widget(form.funeralHomeZip, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
          </div>
        </div>
        {# Telephone, Email #}
        <div class="flex flex-wrap">
          {# Telephone #}
          <div class="w-full md:w-1/2 px-3">
            {{ form_label(form.funeralHomeTelephone, 'Telephone', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
            {{ form_widget(form.funeralHomeTelephone, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
          </div>
          {#  Email #}
          <div class="w-full md:w-1/2 px-3">
            {{ form_label(form.funeralHomeEmail, 'Email', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
            {{ form_widget(form.funeralHomeEmail, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
          </div>
        </div>
        {# Ship Merchandise to #}
        <div class="flex flex-wrap">
          {# ShipMerchandiseTo #}
          <div class="w-full md:w-1/2 px-3">
            {{ form_label(form.funeralHomeShipMerchandiseTo, 'ShipMerchandiseTo', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
            {{ form_widget(form.funeralHomeShipMerchandiseTo) }}
          </div>
        </div>

        {# separator #}
        <hr class="mb-4 mt-4 mx-3" />

        {# Deceased information #}
        <div>
          {# Full Name of deceased #}
          <div class="flex flex-wrap">
            <div class="w-full px-3">
              {{ form_label(form.fullNameOfDeceased, 'Full Name of Deceased', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.fullNameOfDeceased, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
            </div>
          </div>
          {# Deceased date of birth, date of death #}
          <div class="flex flex-wrap">
            {# DeceasedDateOfBirth #}
            <div class="w-full md:w-1/2 px-3">
              {{ form_label(form.deceasedDateOfBirth, 'Date of Birth', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.deceasedDateOfBirth, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gra<div class="flex flex-wrap">y-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
            </div>
            {#  DeceasedDateOfDeath #}
            <div class="w-full md:w-1/2 px-3">
              {{ form_label(form.deceasedDateOfDeath, 'Date of Death', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.deceasedDateOfDeath, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
            </div>
          </div>
          {# Interment Information #}
          <div class="flex flex-wrap">
            <div class="w-full px-3">
              {{ form_label(form.deceasedIntermentInformation, 'Interment Information', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.deceasedIntermentInformation, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
            </div>
          </div>
        </div>

        {# separator #}
        <hr class="mb-4 mt-4 mx-3" />

        {# family information #}
        <div>
          {# Family Contact Name #}
          <div class="flex flex-wrap">
            <div class="w-full px-3">
              {{ form_label(form.familyContactName, 'Name of Family Contact', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.familyContactName, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
            </div>
          </div>
          {# street #}
          <div class="flex">
            <div class="w-full px-3">
            {{ form_label(form.familyContactStreet, 'Street', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.familyContactStreet, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
            </div>
          </div>
          {# Family City, State, Zip #}
          <div class="flex flex-wrap">
            {# City #}
            <div class="w-full md:w-1/3 px-3">
              {{ form_label(form.familyContactCity, 'City', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.familyContactCity, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
            </div>
            {# State #}
            <div class="w-full md:w-1/3 px-3 relative">
              {{ form_label(form.familyContactState, 'State', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.familyContactState, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-6 pt-4 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
              </div>
            </div>
            {#  Zip #}
            <div class="w-full md:w-1/3 px-3">
              {{ form_label(form.familyContactZip, 'Zip', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.familyContactZip, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
            </div>
          </div>
          {# Family contact Telephone, Email #}
          <div class="flex flex-wrap">
            {# Telephone #}
            <div class="w-full md:w-1/2 px-3">
              {{ form_label(form.familyContactTelephone, 'Telephone', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.familyContactTelephone, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
            </div>
            {#  Email #}
            <div class="w-full md:w-1/2 px-3">
              {{ form_label(form.familyContactEmail, 'Email', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.familyContactEmail, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
            </div>
          </div>
        </div>

        {# Sympathy acknowledgements #}
        <div>
          <h3 class="mb-2 text-3xl sm:text-2xl md:text-3xl mt-6 text-center font-bold">Sympathy Acknowledgements
          </h3>

          {# Quantity, sentiment #}
          <div class="flex flex-wrap">
            {# quantity #}
            <div class="w-full px-3 md:w-1/2 relative">
              {{ form_label(form.symAckQuantity, 'Quantity', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.symAckQuantity, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-6 pt-4 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
              </div>
            </div>
            {# sentiment #}
            <div class="w-full px-3 md:w-1/2 relative">
              {{ form_label(form.symAckSentiment, 'Sentiment', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.symAckSentiment, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-6 pt-4 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
              </div>
            </div>
          </div>

          {# font ... paper #}
          <div class="flex flex-wrap">
            {# font #}
            <div class="w-full px-3 md:w-1/5 relative">
              {{ form_label(form.symAckFont, 'Font', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.symAckFont, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-6 pt-4 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
              </div>
            </div>
            {# font ink #}
            <div class="w-full px-3 md:w-1/5 relative">
              {{ form_label(form.symAckFontInk, 'Font ink', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.symAckFontInk, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-6 pt-4 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
              </div>
            </div>
            {# Motif #}
            <div class="w-full px-3 md:w-1/5 relative">
              {{ form_label(form.symAckMotif, 'Motif', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.symAckMotif, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-6 pt-4 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
              </div>
            </div>
            {# Motif Ink #}
            <div class="w-full px-3 md:w-1/5 relative">
              {{ form_label(form.symAckMotifInk, 'Motif Ink', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.symAckMotifInk, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-6 pt-4 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
              </div>
            </div>
            {# Paper#}
            <div class="w-full px-3 md:w-1/5 relative">
              {{ form_label(form.symAckPaper, 'Paper', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
              {{ form_widget(form.symAckPaper, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-6 pt-4 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
              </div>
            </div>
          </div>

          {# return address imprint #}
          <div>
            {# section heading #}
            <label class="mt-2 px-3 block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="return-address-imprint">
            Return Address imprint
            </label>

            {# street #}
            <div class="flex">
              <div class="w-full px-3">
              {{ form_label(form.retAddImpStreet, 'Street', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
                {{ form_widget(form.retAddImpStreet, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
              </div>
            </div>
            {# City, State, Zip #}
            <div class="flex flex-wrap">
              {# City #}
              <div class="w-full md:w-1/3 px-3">
                {{ form_label(form.retAddImpCity, 'City', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
                {{ form_widget(form.retAddImpCity, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
              </div>
              {# State #}
              <div class="w-full md:w-1/3 px-3 relative">
                {{ form_label(form.retAddImpState, 'State', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
                {{ form_widget(form.retAddImpState, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-6 pt-4 text-gray-700">
                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                </div>
              </div>
              {#  Zip #}
              <div class="w-full md:w-1/3 px-3">
                {{ form_label(form.retAddImpZip, 'Zip', {'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'}} ) }}
                {{ form_widget(form.retAddImpZip, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
              </div>
            </div>


          </div>

        </div>


      </div>
    </div>

    {{ form_end(form) }}
  </div>
{% endblock %}
